.boxborder {
    width: 96%;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid #014670;
    color: #000;
}

.boxlabel{
        font-size: 16px;
        font-weight: bold;
        color: #000;
        border: none;
        padding: 0px 30px 0px 10px;
        display: inline-block;
        width: auto;
    

}
.btnwidth{

    width: 100%;
}
.fullwidth{
 width:75%;   
}